.query-table{
    display: block;
    padding-top: 50px;
    width: calc(100% - 20px);
    height: 100%;
    z-index: 1;
}


.query-table #controls{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-left: 20px;
}

.query-table #controls h3{
    width: 100px;
}

.query-table #controls button{
    border-color: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.query-table #controls input{
    width: 150px;
}

.query-table #controls input,
.query-table #controls h3,
.query-table #controls #search,
.query-table #controls #clean{
    margin: 20px 0;
    vertical-align: middle;
    display: inline-block;
}

.query-table #controls #search,
.query-table #controls #clean{
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.query-table #controls input{
    margin-left: 5px;
    margin-right: 40px;
}

.query-table #controls #search img,
.query-table #controls #clean img,
.query-table #controls #add img{
    border-radius: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.query-table #content-table{
    display: flex;
    justify-content: center;
    width: 100%;
}

.query-table #content-table table,
.query-table #content-table th,
.query-table #content-table td{
    border: 1px solid;
}

.query-table #content-table table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.query-table #content-table table #content tr td{
    text-align: center;
}